/* Blog.module.css */

.title {
    width: fit-content;
    padding-bottom: 3px;
    border-bottom: 3px solid black;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    height: fit-content;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #e7eaf6;
}

.card a {
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.3s;
    color: darkviolet;
}

.card a:hover {
    color: darkmagenta;
}

.loading, .no__posts {
    font-size: 1.5rem;
    text-align: center;
    color: darkblue;
}

.error {
    font-size: 1.5rem;
    text-align: center;
    color: darkred;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.2rem;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .card {
        font-size: 0.8rem;
    }

    .loading, .no__posts, .error {
        font-size: 1.2rem;
    }
}